# sbt
# (may want to keep parts of 'project')
bin/
project/
target/scala-2.13/classes
target/scala-2.13/update
target/scala-2.13/github-graphql-scala_2.13-0.1.jar
build/

# intellij idea
*.log
*.iml
*.ipr
*.iws
.idea

.history
.scala_dependencies
.cache
.cache-main

#general
*.class